# ROS build artifacts
ros_ws/build/
ros_ws/install/
ros_ws/log/

# Bytecode and editor clutter
__pycache__/
*.pyc
*.pyo
*.egg-info/

# System and user cache
.cache/
.config/
.local/
.python_history

# Catkin workspace (correct name)
noetic_ws/build/
noetic_ws/devel/
noetic_ws/install/
noetic_ws/log/

# External packages (cloned during setup)
noetic_ws/src/DynamixelSDK/
noetic_ws/src/hls_lfcd_lds_driver/
noetic_ws/src/turtlebot3/
noetic_ws/src/turtlebot3_machine_learning/
noetic_ws/src/turtlebot3_msgs/
noetic_ws/src/turtlebot3_simulations/

#Python virtual environment
venv/

# Editor backup files
*.save
*.swp
*~
*.save*
noetic_ws/build/
noetic_ws/devel/
